<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>2020</h1>
    <% foto.forEach(function(ada){ %>
      <img src="<%=ada%>" alt="" style="height: 250px;">
    <% }) %>
    <br><br>
    <h1>2019</h1>
    <% foto2.forEach(function(ada1){ %>
      <img src="<%=ada1%>" alt="" style="height: 250px;">
    <% }) %>
    <br><br>
    <h1>2018</h1>
    <% foto3.forEach(function(ada2){ %>
      <img src="<%=ada2%>" alt="" style="height: 250px;">
    <% }) %>
  </body>
</html>
